{
  "x-generator": "NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Airia Web Apis",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.airia.ai"
    }
  ],
  "paths": {
    "/v1/AgentCard": {
      "get": {
        "tags": [
          "AgentCard"
        ],
        "summary": "Gets a paginated list of agent cards.",
        "operationId": "AgentCard_GetAll",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Gets or sets the page number to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Gets or sets the number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Gets or sets property to sort.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Gets or sets the direction of the sort, either \"ASC\" for ascending or \"DESC\" for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "Gets or sets the search filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "An optional ProjectId filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentCardModelList"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentCard"
        ],
        "summary": "Creates new agent cards.",
        "operationId": "AgentCard_Create",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "agentCardModels",
          "description": "The agent cards to be created.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AgentCardModel"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "List of agent creation responses corresponding to each model.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentCardCreationResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentCard/{agentCardId}": {
      "get": {
        "tags": [
          "AgentCard"
        ],
        "summary": "Gets the agent card by its identifier.",
        "operationId": "AgentCard_Get",
        "parameters": [
          {
            "name": "agentCardId",
            "in": "path",
            "required": true,
            "description": "The agent card identifier.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The agent information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCardModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent.json": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Gets the agent information.",
        "operationId": "Agent_Get",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Gets or sets the page number to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Gets or sets the number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Gets or sets property to sort.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Gets or sets the direction of the sort, either \"ASC\" for ascending or \"DESC\" for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "Gets or sets the search filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "An optional ProjectId filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentCardModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentDiscovery/status": {
      "get": {
        "tags": [
          "AgentDiscovery"
        ],
        "summary": "Gets the status of an agent by project and agent name.",
        "operationId": "AgentDiscovery_GetAgentStatus2",
        "parameters": [
          {
            "name": "projectName",
            "in": "query",
            "description": "The name of the project containing the agent.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "agentName",
            "in": "query",
            "description": "The name of the agent to find.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The agent status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDiscoveryStatus"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentEvaluation/{id}": {
      "get": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Gets the agent evaluation by id.",
        "operationId": "AgentEvaluation_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent evaluation id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgentEvaluationResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Deletes a specific agent evaluation object by its identifier.",
        "operationId": "AgentEvaluation_DeleteAgentEvaluation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The agent evaluation object id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "401": {
            "description": "Unauthorized result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentEvaluation/Clone/{id}": {
      "post": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Clones an agent evaluation.\nWhen feature flag is enabled: Creates a new evaluation with StandardBiasDrift type that includes\nStandard, Bias, and Drift evaluations, with the original evaluation as the baseline for drift comparison.\nWhen feature flag is disabled: Clones the evaluation entity to create a new evaluation with the same type.",
        "operationId": "AgentEvaluation_Clone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the agent evaluation to clone.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cloned evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAgentEvaluationResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentEvaluation/Results": {
      "get": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Gets a paginated list of agent evaluations.",
        "operationId": "AgentEvaluation_GetEvaluationsResult",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Gets or sets the page number to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Gets or sets the number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Gets or sets property to sort.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Gets or sets the direction of the sort, either \"ASC\" for ascending or \"DESC\" for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "Gets or sets the search filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfAgentEvaluationDto"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentEvaluation/AggregatedResults/{evaluationJobId}": {
      "get": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Gets aggregated results for a specific evaluation.",
        "operationId": "AgentEvaluation_GetAggregatedResults",
        "parameters": [
          {
            "name": "evaluationJobId",
            "in": "path",
            "required": true,
            "description": "Evaluation job id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentEvaluationAggregatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentEvaluation/DetailedResults/{evaluationJobId}/{agentVersionId}": {
      "get": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Gets results for a specific evaluation and agent.",
        "operationId": "AgentEvaluation_GetDetailedResults",
        "parameters": [
          {
            "name": "evaluationJobId",
            "in": "path",
            "required": true,
            "description": "Evaluation job id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "agentVersionId",
            "in": "path",
            "required": true,
            "description": "Agent id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "resultsType",
            "in": "query",
            "description": "The results type for filtering detailed rationale sections (FullDetails, AccuracyBias, or Drift).",
            "schema": {
              "default": "FullDetails",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EvaluationResultsType"
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Gets or sets the page number to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Gets or sets the number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 5
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Gets or sets property to sort.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Gets or sets the direction of the sort, either \"ASC\" for ascending or \"DESC\" for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 7
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "Gets or sets the search filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentEvaluationDetailedResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentEvaluation/ComparisonResults/{evaluationJobId}": {
      "get": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Gets paginated evaluation results for all agents.",
        "operationId": "AgentEvaluation_GetComparisonResults",
        "parameters": [
          {
            "name": "evaluationJobId",
            "in": "path",
            "required": true,
            "description": "Evaluation job id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Gets or sets the page number to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Gets or sets the number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Gets or sets property to sort.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Gets or sets the direction of the sort, either \"ASC\" for ascending or \"DESC\" for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 5
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "Gets or sets the search filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentEvaluationComparisonResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentEvaluation": {
      "post": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Creates agent evaluation.",
        "operationId": "AgentEvaluation_Create",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "EvaluationName": {
                    "type": "string",
                    "nullable": true
                  },
                  "Description": {
                    "type": "string",
                    "nullable": true
                  },
                  "AgentVersionIds": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string",
                      "format": "guid"
                    }
                  },
                  "ExternalAgents": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "$ref": "#/components/schemas/AgentCardModel"
                    }
                  },
                  "EvaluationType": {
                    "$ref": "#/components/schemas/EvaluationType"
                  },
                  "ModelIdentifierType": {
                    "$ref": "#/components/schemas/ModelIdentifierType"
                  },
                  "ModelId": {
                    "type": "string",
                    "format": "guid"
                  },
                  "DatasetFile": {
                    "type": "string",
                    "format": "binary",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created agent evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgentEvaluationResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentEvaluation/Dataset/{evaluationId}": {
      "get": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Gets the dataset associated with evaluation.",
        "operationId": "AgentEvaluation_GetDataset",
        "parameters": [
          {
            "name": "evaluationId",
            "in": "path",
            "required": true,
            "description": "Evaluation id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Gets or sets the page number to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Gets or sets the number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Gets or sets property to sort.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Gets or sets the direction of the sort, either \"ASC\" for ascending or \"DESC\" for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 5
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "Gets or sets the search filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent evaluation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfAgentEvaluationDatasetDto"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentEvaluation/evaluation-limit": {
      "get": {
        "tags": [
          "AgentEvaluation"
        ],
        "summary": "Checks if the evaluation limit has been reached.",
        "operationId": "AgentEvaluation_CheckEvaluationLimit",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationLimitResult"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentEvaluationDataset/validate": {
      "post": {
        "tags": [
          "AgentEvaluationDataset"
        ],
        "summary": "Validate evaluation dataset datasetFile.",
        "operationId": "AgentEvaluationDataset_ValidateDataset",
        "parameters": [
          {
            "name": "evaluationType",
            "in": "query",
            "description": "The evaluation type (Standard, Bias, RedTeaming). Defaults to Standard for backward compatibility.",
            "schema": {
              "default": "Standard",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/EvaluationType"
                }
              ]
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "ContentType": {
                    "type": "string",
                    "nullable": true
                  },
                  "ContentDisposition": {
                    "type": "string",
                    "nullable": true
                  },
                  "Headers": {
                    "type": "array",
                    "nullable": true,
                    "items": {}
                  },
                  "Length": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "Name": {
                    "type": "string",
                    "nullable": true
                  },
                  "FileName": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation."
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentFeedback": {
      "get": {
        "tags": [
          "AgentFeedback"
        ],
        "summary": "Gets a paged list of agent feedback with optional filtering.",
        "operationId": "AgentFeedback_GetFeedback2",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Gets or sets the page number to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Gets or sets the number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Gets or sets property to sort.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Gets or sets the direction of the sort, either \"ASC\" for ascending or \"DESC\" for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "Gets or sets the search filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "status",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Optional status filter. Can be a single status or multiple comma-separated statuses.",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/AgentFeedbackStatus"
              }
            },
            "x-position": 6
          },
          {
            "name": "agentId",
            "x-originalName": "agentIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Optional agent ID filter. Can be a single ID or multiple comma-separated IDs.",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "guid"
              }
            },
            "x-position": 7
          },
          {
            "name": "projectId",
            "x-originalName": "projectIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Optional project ID filter. Can be a single ID or multiple comma-separated IDs.",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "guid"
              }
            },
            "x-position": 8
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged result of agent feedback models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfAgentFeedbackModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentFeedback"
        ],
        "summary": "Creates a new agent feedback.",
        "operationId": "AgentFeedback_CreateFeedback2",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "The feedback model to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentFeedbackModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The created agent feedback model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentFeedbackModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentFeedback/{id}": {
      "get": {
        "tags": [
          "AgentFeedback"
        ],
        "summary": "Gets a specific agent feedback by ID.",
        "operationId": "AgentFeedback_GetFeedbackById2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the feedback to retrieve.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The agent feedback model with the specified ID, or NotFound if not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentFeedbackModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AgentFeedback"
        ],
        "summary": "Updates an existing agent feedback.",
        "operationId": "AgentFeedback_UpdateFeedback2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the feedback to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "The updated feedback model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentFeedbackModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The updated agent feedback model, or NotFound if not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentFeedbackModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AgentFeedback"
        ],
        "summary": "Deletes an agent feedback.",
        "operationId": "AgentFeedback_DeleteFeedback2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the feedback to delete.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content if successful, or NotFound if not found."
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentShareableLink": {
      "post": {
        "tags": [
          "AgentShareableLink"
        ],
        "summary": "Creates a shareable link for an agent.",
        "operationId": "AgentShareableLink_CreateShareableLink",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The create link request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShareableLinkRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The created shareable link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShareableLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentShareableLink/pipeline/{pipelineId}": {
      "get": {
        "tags": [
          "AgentShareableLink"
        ],
        "summary": "Gets all shareable links for a pipeline.",
        "operationId": "AgentShareableLink_GetShareableLinksByPipelineId",
        "parameters": [
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "description": "The pipeline ID.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Gets or sets the page number to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Gets or sets the number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Gets or sets property to sort.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Gets or sets the direction of the sort, either \"ASC\" for ascending or \"DESC\" for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 5
          },
          {
            "name": "IsActive",
            "in": "query",
            "description": "Gets or sets a value indicating whether to filter by active status.",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "Gets or sets the search filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The paginated list of shareable links.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfShareableLink"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentShareableLink/{identifier}": {
      "get": {
        "tags": [
          "AgentShareableLink"
        ],
        "summary": "Gets agent data by link identifier (public endpoint).",
        "operationId": "AgentShareableLink_GetAgentTemplateByLinkIdentifier",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "The link identifier.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The agent definition and metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportPipelineDefinition"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentShareableLink/{linkId}": {
      "delete": {
        "tags": [
          "AgentShareableLink"
        ],
        "summary": "Deactivates a shareable link.",
        "operationId": "AgentShareableLink_DeactivateLink",
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "description": "The link ID.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentSteps": {
      "get": {
        "tags": [
          "AgentSteps"
        ],
        "summary": "Gets all available SDK steps with their parameter schemas.\nFilters by enabled flag and feature flags.",
        "operationId": "AgentSteps_GetSdkSteps",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of SDK step definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SdkStepDefinitionModel"
                  }
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentSteps/validate": {
      "post": {
        "tags": [
          "AgentSteps"
        ],
        "summary": "Validates SDK step parameters.",
        "operationId": "AgentSteps_ValidateStepParameters",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The validation request containing step type and parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SdkStepValidationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Validation results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SdkStepValidationResult"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentSteps/options": {
      "post": {
        "tags": [
          "AgentSteps"
        ],
        "summary": "Loads dynamic options for an SDK step parameter.\nUses the step's configuration to determine what options to load.",
        "operationId": "AgentSteps_LoadOptions",
        "parameters": [
          {
            "name": "methodName",
            "in": "query",
            "description": "The options loading method name (e.g., \"getProjects\").",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The request containing step type and parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SdkStepValidationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "A result containing either the loaded options or an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SdkOptionsLoadResult"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentSteps/options/requirements": {
      "get": {
        "tags": [
          "AgentSteps"
        ],
        "summary": "Gets the required fields for options loading methods of a given step type.\nThis allows the frontend to determine which fields must be filled before loading options.",
        "operationId": "AgentSteps_GetOptionsRequirements",
        "parameters": [
          {
            "name": "stepType",
            "in": "query",
            "description": "The SDK step type.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary mapping method names to required field names.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        }
      }
    },
    "/v1/AgentSwarms": {
      "get": {
        "tags": [
          "AgentSwarms"
        ],
        "summary": "Get all swarms for the current tenant.",
        "operationId": "AgentSwarms_GetSwarms2",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of swarms.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentSwarmResponseModel"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AgentSwarms"
        ],
        "summary": "Create a new swarm.",
        "operationId": "AgentSwarms_CreateSwarm2",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The create swarm request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSwarmRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The created swarm.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSwarmResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentSwarms/{swarmId}": {
      "get": {
        "tags": [
          "AgentSwarms"
        ],
        "summary": "Get a swarm by ID.",
        "operationId": "AgentSwarms_GetSwarmById2",
        "parameters": [
          {
            "name": "swarmId",
            "in": "path",
            "required": true,
            "description": "The swarm identifier.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The swarm.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSwarmResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AgentSwarms"
        ],
        "summary": "Update a swarm.",
        "operationId": "AgentSwarms_UpdateSwarm2",
        "parameters": [
          {
            "name": "swarmId",
            "in": "path",
            "required": true,
            "description": "The swarm identifier.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The update swarm request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSwarmRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The updated swarm.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSwarmResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AgentSwarms"
        ],
        "summary": "Delete a swarm.",
        "operationId": "AgentSwarms_DeleteSwarm2",
        "parameters": [
          {
            "name": "swarmId",
            "in": "path",
            "required": true,
            "description": "The swarm identifier.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentSwarms/by-agent/{pipelineId}": {
      "get": {
        "tags": [
          "AgentSwarms"
        ],
        "summary": "Get all swarms that contain a specific agent.",
        "operationId": "AgentSwarms_GetSwarmsByAgentId2",
        "parameters": [
          {
            "name": "pipelineId",
            "in": "path",
            "required": true,
            "description": "The pipeline (agent) identifier.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of swarms containing the agent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentSwarmResponseModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentSwarms/{swarmId}/members": {
      "post": {
        "tags": [
          "AgentSwarms"
        ],
        "summary": "Add an agent to a swarm.",
        "operationId": "AgentSwarms_AddAgentToSwarm2",
        "parameters": [
          {
            "name": "swarmId",
            "in": "path",
            "required": true,
            "description": "The swarm identifier.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The add member request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSwarmMemberRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "The swarm member.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSwarmMemberResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentSwarms/{swarmId}/members/{memberId}": {
      "delete": {
        "tags": [
          "AgentSwarms"
        ],
        "summary": "Remove an agent from a swarm.",
        "operationId": "AgentSwarms_RemoveAgentFromSwarm2",
        "parameters": [
          {
            "name": "swarmId",
            "in": "path",
            "required": true,
            "description": "The swarm identifier.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The member identifier.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentTrigger/{id}": {
      "get": {
        "tags": [
          "AgentTrigger"
        ],
        "summary": "Gets all the Alert Triggers corresponding to an agent.",
        "operationId": "AgentTrigger_GetAlertTriggers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The pipeline identifier.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation."
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AgentTrigger"
        ],
        "summary": "Save a new Alert Trigger to the database.",
        "operationId": "AgentTrigger_UpdateAlertTrigger",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The trigger identifier of the trigger to be updated.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "The trigger to be saved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentTriggerModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "204": {
            "description": "A Task representing the asynchronous operation."
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AgentTrigger"
        ],
        "summary": "Save the Alert Trigger to the database.",
        "operationId": "AgentTrigger_DeleteAlertTrigger",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The trigger identifier of the trigger to be deleted.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "A Task representing the asynchronous operation."
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AgentTrigger": {
      "post": {
        "tags": [
          "AgentTrigger"
        ],
        "summary": "Save a new Alert Trigger to the database.",
        "operationId": "AgentTrigger_CreateAlertTrigger",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "The trigger to be saved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentTriggerModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "A Task representing the asynchronous operation."
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssetMetadataAssignment/by-aggregate-id/{aiAssetAggregateId}": {
      "get": {
        "tags": [
          "AiAssetMetadataAssignment"
        ],
        "summary": "Get all metadata assignments for an AI asset aggregate by its ID.",
        "operationId": "AiAssetMetadataAssignment_GetByAggregateId",
        "parameters": [
          {
            "name": "aiAssetAggregateId",
            "in": "path",
            "required": true,
            "description": "The AI asset aggregate ID.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiAssetMetadataAssignmentResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssetMetadataAssignment/by-internal-id/{internalId}": {
      "get": {
        "tags": [
          "AiAssetMetadataAssignment"
        ],
        "summary": "Get all metadata assignments for an internal asset by its internal ID and asset type.",
        "operationId": "AiAssetMetadataAssignment_GetByInternalId",
        "parameters": [
          {
            "name": "internalId",
            "in": "path",
            "required": true,
            "description": "The internal asset ID (e.g., Pipeline.Id).",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "assetType",
            "in": "query",
            "description": "The asset type.",
            "schema": {
              "$ref": "#/components/schemas/AiAssetType"
            },
            "x-position": 2
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiAssetMetadataAssignmentResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssetMetadataAssignment/by-aggregate/{aiAssetAggregateId}": {
      "put": {
        "tags": [
          "AiAssetMetadataAssignment"
        ],
        "summary": "Create or update metadata assignments in batch for an AI asset aggregate.\nFor SingleOption type definitions, any existing assignment will be replaced.",
        "operationId": "AiAssetMetadataAssignment_UpsertByAggregateId",
        "parameters": [
          {
            "name": "aiAssetAggregateId",
            "in": "path",
            "required": true,
            "description": "The AI asset aggregate ID.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "requests",
          "description": "The list of requests to create or update metadata assignments.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateAiAssetMetadataAssignmentRequest"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiAssetMetadataAssignmentResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssetMetadataAssignment/by-internal/{internalId}": {
      "put": {
        "tags": [
          "AiAssetMetadataAssignment"
        ],
        "summary": "Create or update metadata assignments in batch for an internal asset by its internal ID and asset type.\nFor SingleOption type definitions, any existing assignment will be replaced.",
        "operationId": "AiAssetMetadataAssignment_UpsertByInternalId",
        "parameters": [
          {
            "name": "internalId",
            "in": "path",
            "required": true,
            "description": "The internal asset ID (e.g., Pipeline.Id).",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "assetType",
            "in": "query",
            "description": "The asset type.",
            "schema": {
              "$ref": "#/components/schemas/AiAssetType"
            },
            "x-position": 2
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "requests",
          "description": "The list of requests to create or update metadata assignments.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateAiAssetMetadataAssignmentRequest"
                }
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiAssetMetadataAssignmentResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssetMetadataDefinition": {
      "get": {
        "tags": [
          "AiAssetMetadataDefinition"
        ],
        "summary": "Get all metadata definitions for a specific asset type.",
        "operationId": "AiAssetMetadataDefinition_GetByAssetType",
        "parameters": [
          {
            "name": "assetType",
            "in": "query",
            "description": "The asset type to filter by.",
            "schema": {
              "$ref": "#/components/schemas/AiAssetType"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiAssetMetadataDefinitionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AiAssetMetadataDefinition"
        ],
        "summary": "Create a new metadata definition.",
        "operationId": "AiAssetMetadataDefinition_Create",
        "parameters": [
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The request to create a metadata definition.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAiAssetMetadataDefinitionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiAssetMetadataDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssetMetadataDefinition/{id}": {
      "get": {
        "tags": [
          "AiAssetMetadataDefinition"
        ],
        "summary": "Get a metadata definition by id.",
        "operationId": "AiAssetMetadataDefinition_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The metadata definition id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiAssetMetadataDefinitionResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AiAssetMetadataDefinition"
        ],
        "summary": "Update a metadata definition.",
        "operationId": "AiAssetMetadataDefinition_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The metadata definition id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The update request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAiAssetMetadataDefinitionRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiAssetMetadataDefinitionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AiAssetMetadataDefinition"
        ],
        "summary": "Delete a metadata definition.",
        "operationId": "AiAssetMetadataDefinition_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The metadata definition id.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation."
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssets": {
      "get": {
        "tags": [
          "AiAssets"
        ],
        "summary": "Get all assets.",
        "operationId": "AiAssets_GetFilteredAiAssets",
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Gets or sets the page number to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Gets or sets the number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Gets or sets property to sort.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Gets or sets the direction of the sort, either \"ASC\" for ascending or \"DESC\" for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "Filter",
            "in": "query",
            "description": "Gets or sets the search filter.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "assetsFilter",
            "in": "query",
            "description": "The asset filter parameter.",
            "schema": {
              "$ref": "#/components/schemas/AiAssetFilter"
            },
            "x-position": 6
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiAssetsWithUpdatedDateDefinitionV1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssets/{assetId}": {
      "get": {
        "tags": [
          "AiAssets"
        ],
        "summary": "Get asset details by Id.",
        "operationId": "AiAssets_GetAssetWithUsage",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "The id of the asset.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Task representing the asynchronous operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiAssetWithProjectUsageDefinitionV1"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssets/by-internal-id/{internalId}": {
      "get": {
        "tags": [
          "AiAssets"
        ],
        "summary": "Get asset ID by internal ID (e.g., pipeline ID, model ID, MCP server ID).",
        "operationId": "AiAssets_GetAssetIdByInternalId",
        "parameters": [
          {
            "name": "internalId",
            "in": "path",
            "required": true,
            "description": "The internal ID (pipeline ID, model ID, etc.).",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "sourceType",
            "in": "query",
            "description": "The source type (default: Airia).",
            "schema": {
              "default": "Airia",
              "oneOf": [
                {
                  "$ref": "#/components/schemas/AiAssetSourceType"
                }
              ]
            },
            "x-position": 2
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The corresponding asset ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AiAssets/mcpServer/{mcpServerId}": {
      "get": {
        "tags": [
          "AiAssets"
        ],
        "summary": "Get MCP server details by Id including action analysis.",
[...]
